@import 'tailwindcss';

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

@theme {
  --font-sans: 'Work Sans', ui-sans-serif, system-ui, sans-serif;
  --font-display: 'Inter', ui-sans-serif, system-ui, sans-serif;

  --color-ink: #222;
  --color-ink-dim: #373737;
  --color-brand: #071026;
  --color-brand-hover: #1a2440;

  --color-paper: #f4f2ec;
  --color-surface: #fcfaf7;
  --color-accent: #3c39ea;
  --color-accent-hover: #2a27c7;
  --color-accent-subtle: #ebe9ff;
  --color-accent-glow: #907cff;
  --color-gray-400: #525252;
  --color-gray-300: #707070;
  --color-gray-100: #dcdcdc;

  --shadow-card: 0px 0px 12px #3a3a3a08;
}

html,
body {
  @apply min-h-dvh scroll-smooth;
}

.body {
  @apply text-ink bg-paper font-sans text-base leading-tight antialiased;
}
